span {
  padding: 5px;
}

div.boards span:hover {
  cursor: pointer;
  text-decoration: underline;
}

span.selected {
  color: red;
}

.ready {
  color: black;
}

.loading {
  color: gray;
}

ul.boards li {
  padding-right: 5px;
  display: inline;
}

ul.boards li:hover {
  cursor: pointer;
  color: black;
}

ul.boards li.selected {
  text-decoration: underline;
}
